VITE_SUPABASE_URL=https://yikcpcnbwlepqoektbmq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlpa2NwY25id2xlcHFvZWt0Ym1xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE1OTQzNzIsImV4cCI6MjA5NzE3MDM3Mn0.5kBabz-n86dmBTsilOnAq0gPshj6CSmWV_wVl3tLLsQ
